<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- db -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://192.168.7.140:3306/bcd</property>
		<property name="connection.username">ivhhs</property>
		<property name="connection.password">ivhhs</property>

		<!-- c3p0 -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- sql -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- entity -->
		<mapping class="com.ivhhs.demo.hb.MemberPO" />
		<mapping class="com.ivhhs.demo.hb.OrderPO" />
		
		<mapping class="com.ivhhs.demo.hb.CheckCash" />
<mapping class="com.ivhhs.demo.hb.CMDayStatistics" />
<mapping class="com.ivhhs.demo.hb.CMDiscountcodeManager" />
<mapping class="com.ivhhs.demo.hb.CMMyDiscountCode" />
<mapping class="com.ivhhs.demo.hb.CommissionPayLog" />
<mapping class="com.ivhhs.demo.hb.CommissionSetLog" />
<mapping class="com.ivhhs.demo.hb.CouponManager" />
<mapping class="com.ivhhs.demo.hb.DistributeCenterNavigation" />
<mapping class="com.ivhhs.demo.hb.DistributeExamineLog" />
<mapping class="com.ivhhs.demo.hb.DistributeLevel" />
<mapping class="com.ivhhs.demo.hb.DistributeLevelChanageLog" />
<mapping class="com.ivhhs.demo.hb.DistributeLevelSetLog" />
<mapping class="com.ivhhs.demo.hb.DistributeMessage" />
<mapping class="com.ivhhs.demo.hb.Distributor" />
<mapping class="com.ivhhs.demo.hb.DistributorLeader" />
<mapping class="com.ivhhs.demo.hb.Goods" />
<mapping class="com.ivhhs.demo.hb.GoodsCategory" />
<mapping class="com.ivhhs.demo.hb.GoodsSpecifications" />
<mapping class="com.ivhhs.demo.hb.HBCreateTest" />
<mapping class="com.ivhhs.demo.hb.HBGetTest" />
<mapping class="com.ivhhs.demo.hb.LdapTimeToJava" />
<mapping class="com.ivhhs.demo.hb.MarketingBasicInfo" />
<mapping class="com.ivhhs.demo.hb.MemberAddress" />
<mapping class="com.ivhhs.demo.hb.MemberBalance" />
<mapping class="com.ivhhs.demo.hb.MemberCredit" />
<mapping class="com.ivhhs.demo.hb.MemberLevel" />
<mapping class="com.ivhhs.demo.hb.MemberMaster" />
<mapping class="com.ivhhs.demo.hb.MemberRegister" />
<mapping class="com.ivhhs.demo.hb.OrderCommission" />
<mapping class="com.ivhhs.demo.hb.OrderGoods" />
<mapping class="com.ivhhs.demo.hb.PromotionManager" />
<mapping class="com.ivhhs.demo.hb.PMPromotionGoods" />
<mapping class="com.ivhhs.demo.hb.SendactivitiesManager" />
<mapping class="com.ivhhs.demo.hb.ShoppingCart" />
<mapping class="com.ivhhs.demo.hb.SMActivitiesRecord" />
<mapping class="com.ivhhs.demo.hb.SMPreferentialManager" />
<mapping class="com.ivhhs.demo.hb.Syscode" />
<mapping class="com.ivhhs.demo.hb.TradeCash" />
<mapping class="com.ivhhs.demo.hb.TradeConfig" />
<mapping class="com.ivhhs.demo.hb.TradeMsg" />
<mapping class="com.ivhhs.demo.hb.TradeOrder" />
<mapping class="com.ivhhs.demo.hb.TradeRefund" />
<mapping class="com.ivhhs.demo.hb.TradeType" />
<mapping class="com.ivhhs.demo.hb.UserComments" />



	</session-factory>

</hibernate-configuration>